apiVersion: v1
kind: Endpoints
metadata:
  name: {{ hostvars[item].inventory_hostname }}
  namespace: {{ ocp_namespace }}
subsets:
  - addresses:
      - ip: {% hostvars[item].vip if (use_vip) else hostvars[item].ansible_host %}
    ports:
      - port: {{ resource_port }}
        name: metrics