apiVersion: v1
kind: Endpoints
metadata:
  name: {{ hostvars[item].inventory_hostname }}
  namespace: {{ ocp_namespace }}
subsets:
  - addresses:
  {% set endpoint_ip = hostvars[item].vip if (use_vip == 'true') else hostvars[item].ansible_host %}
      - ip: {{ endpoint_ip }}
    ports:
      - port: {{ resource_port }}
        name: metrics